body {
  max-width: 1080px;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

#c-nav {
  text-align: right;
  font-size: 14px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding: 8px 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #04414A;
  color: #ffffff;
  border-bottom-right-radius: 150px;
  width: 100%;
  height: 100%;
  max-width: 620px;
  z-index: 15;
}

h1 {
  font-size: 60px;
  margin-left: 50px;
  margin-bottom: 0;
}

p {
  font-size: 28px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-img {
  max-width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.index-h2::after {
  content: url(images/line.png);
  margin-left: 10px;
  font-size: 27px;
}

#concept {
  margin: 80px auto;
}

#concept-flex {
  display: flex;
  text-align: center;
}

#concept-flex > div {
  width: 50%;
  margin: 20px;
}

.concept-photo {
  width: 80%;
}

/* 画面サイズが1024pxからはここを読み込む */
@media screen and (min-width:1024px) {
body {
  margin: 0 auto;
}
}