body {
  max-width: 1080px;
}

body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

body {
  font-size: 15px;
}

body {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

#c-nav {
  text-align: right;
  font-size: 14px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding: 8px 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 画面サイズが1024pxからはここを読み込む */
@media screen and (min-width:1024px) {
body {
  margin: 0 auto;
}
}